<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
<title>Login</title>
</head>

<body>
	<h3>Login</h3>
	<p th:if="${param.error}" class="error">Invalid username or password</p>
	
	<form th:action="@{/login}" method="POST">
		Username: <input type="text" name="username" /> <br /> <br />
		Password: <input type="password" name="password" /> <br /> <br /> 
		<input type="submit" value="Login" /> <br /> <br /> 
	</form>
	
	<form th:action="@{/register}" method="GET">
		or <button type="submit">Register</button>
	</form>	
</body>
</html>